@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:ital,wght@1,300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  overflow-x: hidden;
}

.resume {
  position: absolute;
  z-index: 99;
  background: transparent;
  top: 70px;
  right: 40px;
}